<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546660904311-isl3n836r9o7ljf40rkklq9c7jj34vus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546660904311-isl3n836r9o7ljf40rkklq9c7jj34vus</string>
	<key>API_KEY</key>
	<string>AIzaSyAcY-JNPGvbo2iICkH3xq_sZLgh76PS5bg</string>
	<key>GCM_SENDER_ID</key>
	<string>546660904311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fady.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-82cf0</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-82cf0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546660904311:ios:5985d80528e6fc3a988572</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-82cf0.firebaseio.com</string>
</dict>
</plist>